<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<link rel="stylesheet" href="../static/css/dash.css">

<body>
    <div class="menu">
        <div class="back"><i class="fa fa-chevron-left"></i> <img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
        <div class="name">
            Alex
        </div>
        <div class="last">
            18:09
        </div>
    </div>
    <ol class="chat">
        <li class="other">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
            <div class="msg">
                <p>Hola!</p>
                <p>Te vienes a cenar al centro?</p><time>20:17</time>
            </div>
        </li>
        <li class="self">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/HYcn9xO.png"></div>
            <div class="msg">
                <p>Puff...</p>
                <p>Aún estoy haciendo el contexto de Góngora...</p>
                <p>Mejor otro día</p><time>20:18</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
            <div class="msg">
                <p>Qué contexto de Góngora?</p><time>20:18</time>
            </div>
        </li>
        <li class="self">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/HYcn9xO.png"></div>
            <div class="msg">
                <p>El que mandó Marialu</p>
                <p>Es para mañana...</p><time>20:18</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
            <div class="msg">
                <p></p>
                <p>Pásamelo!</p><time>20:18</time>
            </div>
        </li>
        <li class="self">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/HYcn9xO.png"></div>
            <div class="msg">
                <img draggable="false" src="https://i.imgur.com/QAROObc.jpg"> <time>20:19</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
            <div class="msg">
                <p>Gracias!</p><time>20:20</time>
            </div>
            <div class="day">
                Hoy
            </div>
        </li>
        <li class="self">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/HYcn9xO.png"></div>
            <div class="msg">
                <p>Te apetece jugar a Minecraft?</p><time>18:03</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
            <div class="msg">
                <p>Venga va, hace ya mucho que no juego...</p><time>18:07</time>
            </div>
        </li>
        <li class="self">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/HYcn9xO.png"></div>
            <div class="msg">
                <p>Ehh, me crashea el Launcher...</p><time>18:08</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
            <div class="msg">
                <p></p><time>18:08</time>
            </div>
        </li>
        <li class="self">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/HYcn9xO.png"></div>
            <div class="msg">
                <p>Es broma</p>
                <p>Ataque Moai!</p>
                <p><span></span><span></span><span></span><span></span><span></span><span></span></p><time>18:09</time>
            </div>
        </li>
        <li class="other">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"></div>
            <div class="msg">
                <p>Copón</p>
                <p></p><time>18:08</time>
            </div>
        </li>
        <li class="self">
            <div class="avatar"><img draggable="false" src="https://i.imgur.com/HYcn9xO.png"></div>
            <div class="msg">
                <p>Hey there's a new update about this chat UI with more responsive elements! Check it now:</p>
                <p><a href="https://codepen.io/Varo/pen/YPmwpQ" target="parent">Chat UI 2.0</a></p><time>18:09</time>
            </div>
        </li>
    </ol>
    <form>
        <input class="textarea" placeholder="Type here!" type="text">
    </form>
    <div class="emojis"></div>
</body>
</html>