#bigvid { 
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    background-size: cover;
}

.authors {
    position: absolute;
    z-index: 10;
}